@charset 'utf-8';
@import 'settings';
@import 'mixins';
@import 'foundation';
@include foundation-global-styles;
@include foundation-typography;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes; //reset//

*,
*::after,
*::before {
  box-sizing: border-box;
}

%clearfix {
  @include clearfix();
}

.outer {
  max-width: 100%;
  overflow: hidden;
}

a {
  text-decoration: underline;
}

.page-wrap {
  max-width: $global-width;
  margin: 0 auto;
}
